body{
	margin: 0;
  padding:0;
  text-align: center;
  background-image: linear-gradient(rgba(0 ,0 ,150 ,0.5),rgba(0 ,0 ,50 ,0.5)),url(bg.jpg);
  background-size: cover;
  background-position: center;
  font-family: sans-serif;
}

.about-t{
	margin-top: 100px;
	color: #fff;
	text-transform: uppercase;
	transition: all 3s ease-in-out;
}

h2{
	font-size: 25px;
}

h2:hover{
	background-color: navy;
}